<!-- NAVBAR -->
<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to "#", class: "navbar-brand" do %>
  <% end %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <%= link_to "Projects", "#{root_path}#projects", class: "nav-link" %>
      </li>
      <li class="nav-item active">
        <%= link_to "About", about_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Contact", contact_path, class: "nav-link" %>
      </li>
    </ul>
  </div>
</div>

<!-- green circle -->
<%= image_tag "bg-2.png", class: "green-circle-about"%>

<!-- avatar image -->
<%= image_tag "avatar.png", class: "img-avatar"%>

<!-- about text -->
<div class="container d-flex justify-content-around">
  <div class="about-heading">
    <h2>About me</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </div>
  <button type="button" class="btn-lg linkedin-button-about"><a href="https://www.linkedin.com/in/flaviadteixeira/" target="blank"> Linkedin</a></button>
</div>

<!-- Footer -->
<div class="footer-small-about">
  <div class="footer-small-links">
    <a href="https://github.com/flaviadteixeira"><i class="fab fa-github"></i></a>
    <a href="https://www.linkedin.com/in/flaviadteixeira/"><i class="fab fa-linkedin"></i></a>
    <a href="mailto: teixeiradflavia@gmail.com"><i class="fas fa-envelope"></i></a>
  </div>
  <div class="footer-copyright">
    Flavia Teixeira 2021
  </div>
</div>
<!-- green footer -->
<%= image_tag "green-footer.png", class: "green-form-footer-about"%>

