
<div class="main d-flex">
  <!-- NAVBAR -->
  <div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
    <%= link_to "#", class: "navbar-brand" do %>
    <% end %>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>


      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <%= link_to "Projects", "#", class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "About", "#", class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Contact", "#", class: "nav-link" %>
          </li>
        </ul>
      </div>
  </div>

  <!-- green form -->

  <%= image_tag "green-form.png", class: "green-form-nav"%>

  <!-- images -->

  <%= image_tag "girl.png", class: "img-girl"%>
  <%= image_tag "cat.png", class: "img-cat"%>

  <!-- action text -->
 <div class="container d-flex justify-content-around">
    <div class="big-heading">
      <h1>Hello, my name is Flavia.</h1>
      <p>I'me a Junior Full-Stack Developer/ Product Manager. I've recently graduated from Le Wagon and I'm seeking for my first professional experience as a Developer.</p>
    </div>
    <button type="button" class="btn-lg linkedin-button"><a href="https://www.linkedin.com/in/flaviadteixeira/" target="blank"> Linkedin</a></button>
    <button type="button" class="btn-lg cv-button"><a href="https://www.linkedin.com/in/flaviadteixeira/" target="blank"> Resume</a></button>
  </div>

  <!-- projects section -->
  <h1 class="title-projects">Projects</h1>
  <%= image_tag "stripe.png", class: "img-stripe"%>
  <div class="card-project">
    <img src="https://i.ibb.co/M6PYsxP/spotlight3.png" />
    <div class="card-project-infos">
      <h3>Spotlight</h3>
      <p>For the final project of the Bootcamp, we created a LinkedIn alike platform that connects emerging artists with the major players of the music industry.</p>
    </div>
  </div>

   <div class="card2-project">
    <img src="https://i.ibb.co/b1DZ4Fp/rentchef.png" />
    <div class="card-project-infos">
      <h3>Rent-a-Chef</h3>
      <p>Before the final projects, we had to create an AirBnB alike platform (marketplace) where someone can rent something.</p>
    </div>
  </div>


</div>



